:root {
  --black: #000;
  --white: #fff;
  --orange: #e38d3d;
}
.header-img {
  width: 100%;
  height: 530px;
  object-fit: cover;
  margin: 0%;
}
.header-img-container {
  position: relative;
}
.header-logo {
  position: absolute;
  left: 25%;
  transform: translate(-50%, -50%);
  top: 85%;
  width: 80%;
  max-width: 483px;
}
body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Saira Semi Condensed", sans-serif;
  margin: 0%;
  font-style: normal;
  font-size: 1.55rem;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /*reset*/
}
section {
  display: grid;
}
.main-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem;
  row-gap: 2rem;
  column-gap: 1.75rem;
}
.text {
  align-content: center;
  text-align: start;
}
.picture {
  align-items: center;
  justify-content: center;
}

.navigation {
  background-color: var(--black);
  text-align: center;
  font-size: 2rem;
  line-height: normal;
  padding: 20px 0;
  width: 100%;
}
.navigation a {
  color: var(--white);
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation li {
  display: inline;
  margin: 25px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

.info-with-pictures {
  background-color: var(--orange);
  grid-column: 1 / -1;
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.location {
  padding-top: 3rem;
  padding-left: 2rem;
}
.footer-img {
  object-fit: cover;
  width: 100%;
}

@media (max-width: 1200px) {
  main {
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .main-layout {
    flex-direction: column;
    align-items: center;
  }
}
