@import url(./common.css);
body{
  background-color: #8193CF ;
}

.yellow-bar {
  background-color: #AF8ECF;
    grid-column: 1 / -1;
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  @media (max-width 1290px) {
    .yellow-bar{
        grid-template-columns: 0.5fr 0.5fr;
      }
      .yellow-bar img{
        max-width: 100%;
      } 
  }