@import url(./common.css);
body{
  background-color: #ADCF81;
}
.info-with-pictures{
  background-color: #CFBD8E;
}
form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: center;
  row-gap: 10px;
  width: 620px;
}
.form-box-wrapper {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.form-box {
  max-width: 620px;
  width: 100%;
}
form input {
  width: 100%;
  height: 25px;
  background-color:#CFBD8E;
  color: var(--text);
}
form textarea {
  width: 100%;
  height: 200px;
  background-color:#CFBD8E;
  color: var(--text);
}
.link-button {
  background-color: #CFBD8E;
  color: var(--text);
  text-decoration: none;
  border-radius: 1rem;
  justify-self: center;
  align-self: center;
  max-width: 100px;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-weight: 700;
}
.form-img {
  max-width: 100%;
}
