@import url(./common.css);
.fossil-img{
    margin-left: 30%;
    max-width: 650px;
    width: 100%;
}
.yellow-bar {
    background-color: var(--orange);
    grid-column: 1 / -1;
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  @media (max-width 1290px) {
    .yellow-bar{
        grid-template-columns: 0.5fr 0.5fr;
      }
      .yellow-bar img{
        max-width: 100%;
      } 
  }