@import url(./common.css);
body{
  background-color:#CFBD8E ;
}
.banner{
    background-color: #ADCF81 ;
    color: var(--text);
    grid-column: 1 / -1;
    font-weight: 800;
    text-align: center;
  }
  .events{
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--text);
    text-align: center;
    gap: 3rem;
    font-size: 1.35rem;
    font-weight: 700;
    padding: 2rem;
    }
  .events section{
    background-color: #ADCF81;
    align-content: center;
    justify-content: center;
  }
  .events p{
    margin: 20px;
  }
  .info-with-pictures{
    background-color: #ADCF81;
  }
  
  
  