@import url(./common.css);
section {
  display: grid;
}
.main-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem;
  row-gap: 2rem;
  column-gap: 1.75rem;
}
.banner{
    background-color: var(--orange);
    color: var(--black);
    grid-column: 1 / -1;
    text-align: center;
    text-decoration: underline;
  }
  .events{
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--black);
    text-align: center;
    gap: 5rem;
    font-size: 1.35rem;
    font-weight: 700;
    }
  .events section{
    background-color: var(--orange);
    align-content: center;
    justify-content: center;
  }
  
  